@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #4a00e0;
}

h1, h3{
    margin-top: 50px;
    text-align: center;
    color: white;
}

#ana-image-error{
    display: ;
    align-items: center;
    align-content: center;
}