@media only screen and (max-width: 420px) {
    body{
        overflow: hidden;
    }
    h1{
        margin: ;
    }
    p{
        display: none;
    }
    
}
@media only screen and (max-width: 1050px) {.modal-content {
    width: 70%;
    height: 450px;
}}