* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #33cc99;
    font-family: monospace;
}
body:hover{
    transition: all 2.5s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-top: 150px;

}

h1 {
    text-align: center;
    color: brown;
    font-weight: bolder;
    font-size: 28pt;
    margin: 10px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 40px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid red;
    margin: 10px;
    background-color: orange;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 14pt;
    transition: 1s;
}

button:hover {
    border: 10px solid pink;
    background-color: orangered;
    font-weight: bolder;
}
button:active{
    border: 2;
    background-color: blue;
}


#resultadoFala {
    font-size: 20pt;
    font-weight: bold;
    color: blue;
    margin: 40px;
}
